<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/ourServicesPageStyle.css" />
    <title>Study Help - Our Services</title>
  </head>
  <body>
    <%- include('partials/header.ejs') -%>

    <div class="firstDivContainer">
      <div class="fistDivLeftSide">
        <div class="headerBox">
          <h2>Our Services</h2>
        </div>
        <div class="supHeaderBox">
          <h4>Study Abroad with Study Help</h4>
        </div>
        <div class="firstDivTxtBox">
          <p>
            At Study Help, we provide comprehensive services to help students<br />
            achieve their dreams of studying abroad. Our offerings are
            designed<br />
            to cater to different needs and budgets, ensuring that every
            student<br />
            can find the support they need. Here’s how we can assist you:
          </p>
        </div>
      </div>
      <div class="fistDivRightSide">
        <img src="/ourServicesGif.gif" alt="" />
      </div>
    </div>

    <div class="secondDivContainer">
      <div class="topBox">
        <h2>Plans</h2>
      </div>
      <div class="bottomBox">
        <div class="subscriptionContainer">
          <div class="firstCardBox">
            <p class="planTitle">Basic Plan</p>
            <h5 class="price">$99 USD</h5>
            <p class="featuresTxt">Features:</p>
            <ul class="PlanUl">
              <li class="planLi">
                <span class="planLiBold">Document Upload</span>
              </li>
              <li class="planLi">
                <span class="planLiBold">AI School Selection</span>
              </li>
              <li class="planLi">
                <span class="planLiBold">Comprehensive Database</span>
              </li>
              <li class="planLi">
                <span class="planLiBold">Email Service</span>
              </li>
              <li class="planLi">
                <span class="planLiBold">Offer Management</span>
              </li>
            </ul>
            <!-- <div class="buyButton">
              <a href="#">
                <button>Buy</button>
              </a>
            </div> -->
          </div>
          <div class="secondCardBox">
            <p class="planTitle">Standard Plan</p>
            <h5 class="price">$499 USD</h5>
            <!-- <p class="planDescription">
              Ideal for students who want more hands-on support throughout the
              application process.
            </p> -->
            <p class="featuresTxt">Includes all Basic Plan features, plus:</p>
            <ul class="PlanUl">
              <li class="planLi">
                <span class="planLiBold">Manual Application Help</span>
              </li>
              <li class="planLi">
                <span class="planLiBold">Document Writing</span>
              </li>
              <li class="planLi">
                <span class="planLiBold">Institutional Communication</span>
              </li>
              <li class="planLi">
                <span class="planLiBold">Manual School Selection</span>
              </li>
            </ul>
            <!-- <div class="buyButton">
              <a href="#">
                <button>Buy</button>
              </a>
            </div> -->
          </div>
          <div class="thirdCardBox">
            <p class="planTitle">Premium Plan</p>
            <h5 class="price">$2,499 USD</h5>
            <!-- <p class="planDescription">
              For students seeking a seamless, stress-free transition to studying
              abroad, including post-arrival support.
            </p> -->
            <p class="featuresTxt">
              Includes all Standard Plan features, plus:
            </p>
            <ul class="PlanUl">
              <li class="planLi">
                <span class="planLiBold">Airport Pick-Up</span>
              </li>
              <li class="planLi">
                <span class="planLiBold">Fingerprinting</span>
              </li>
              <li class="planLi">
                <span class="planLiBold">Physical Examination</span>
              </li>
              <li class="planLi">
                <span class="planLiBold">Residence Card</span>
              </li>
              <li class="planLi">
                <span class="planLiBold">Bank and Mobile Setup</span>
              </li>
              <li class="planLi">
                <span class="planLiBold">Off-Campus Accommodation</span>
              </li>
              <li class="planLi">
                <span class="planLiBold">Special Event Handling</span>
              </li>
            </ul>
            <!-- <div class="buyButton">
              <a href="#">
                <button>Buy</button>
              </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="thirdDivContainer">
      <div class="thirdDivTitle">
        <h2>Explore More About Our Plans</h2>
      </div>
      <div class="thirdDivTop">
        <div class="firstplanBox">
          <p class="thirdDivPlanTitle">Basic Plan</p>
          <h4 class="thirdDivPrice">
            <span class="bold">Price: </span>$99 USD
          </h4>
          <p class="planDescription">
            Perfect for self-sufficient students who need a little boost.
          </p>
          <p class="thirdDivFeaturesTxt"><span class="bold">Features:</span></p>
          <ul class="thirdDivUl">
            <li>
              <span class="thirdDivLiBold">Document Upload:</span>Seamlessly
              upload all your necessary documents to our secure platform.
            </li>
            <li>
              <span class="thirdDivLiBold">AI School Selection: </span>Leverage
              our cutting-edge AI to find the best-fit schools for your academic
              goals.
            </li>
            <li>
              <span class="thirdDivLiBold">Comprehensive Database: </span>Access
              information on all institutions and majors available in your
              desired countries.
            </li>
            <li>
              <span class="thirdDivLiBold">Email Service: </span>Use our
              dedicated email service to manage your applications and
              communications.
            </li>
            <li>
              <span class="thirdDivLiBold">Offer Management: </span>Send and
              share your admission offers through our platform.
            </li>
          </ul>
        </div>
        <div class="secondPlanbox">
          <p class="thirdDivPlanTitle">Standard Plan</p>
          <h4 class="thirdDivPrice">
            <span class="bold">Price: </span>$499 USD
          </h4>
          <p class="planDescription">
            Ideal for students who want more hands-on support throughout the
            application process.
          </p>
          <p class="thirdDivFeaturesTxt">
            <span class="bold">Includes all Basic Plan features, plus:</span>
          </p>
          <ul class="thirdDivUl">
            <li>
              <span class="thirdDivLiBold">Manual Application Help: </span>Get
              expert assistance with your application to ensure it's completed
              accurately and effectively.
            </li>
            <li>
              <span class="thirdDivLiBold">Document Writing: </span>Professional
              help with crafting compelling personal statements, essays, and
              other necessary documents.
            </li>
            <li>
              <span class="thirdDivLiBold">Institutional Communication: </span
              >We handle all communications with institutions on your behalf,
              ensuring clarity and efficiency.
            </li>
            <li>
              <span class="thirdDivLiBold">Manual School Selection: </span>Our
              advisors will personally help you select the best schools and set
              up your applications.
            </li>
          </ul>
        </div>
      </div>
      <div class="thirdDivBottom">
        <div class="thirdPlanBox">
          <p class="thirdDivPlanTitle">Premium Plan</p>
          <h4 class="thirdDivPrice">
            <span class="bold">Price: </span>$2,499 USD
          </h4>
          <p class="planDescription">
            For students seeking a seamless, stress-free transition to studying
            abroad, including post-arrival support.
          </p>
          <p class="thirdDivFeaturesTxt">
            <span class="bold">Includes all Standard Plan features, plus:</span>
          </p>
          <ul class="thirdDivUl">
            <li>
              <span class="thirdDivLiBold">Airport Pick-Up: </span>Personalized
              airport pick-up service to welcome you to your new country.
            </li>
            <li>
              <span class="thirdDivLiBold">Fingerprinting: </span>Assistance
              with fingerprinting requirements as part of your visa process.
            </li>
            <li>
              <span class="thirdDivLiBold">Physical Examination: </span>We help
              you schedule and manage required physical examinations.
            </li>
            <li>
              <span class="thirdDivLiBold">Residence Card: </span>Support in
              obtaining your residence card, making sure you comply with all
              local regulations.
            </li>
            <li>
              <span class="thirdDivLiBold">Bank and Mobile Setup: </span>Help
              with setting up a bank account and getting a mobile phone plan.
            </li>
            <li>
              <span class="thirdDivLiBold">Off-Campus Accommodation: </span
              >Assistance in finding and securing suitable off-campus housing.
            </li>
            <li>
              <span class="thirdDivLiBold">Special Event Handling: </span
              >Support for any special events or unexpected situations that may
              arise during your stay.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%- include('partials/footer.ejs') -%>
  </body>
</html>
