@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nova+Square&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.firstDivContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fistDivRightSide {
  width: 40%;
}

.fistDivRightSide img {
  width: 70%;
  height: auto;
  padding-top: 20px;
}

.fistDivLeftSide {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.headerBox h2 {
  color: #4aa8ff;
  font-size: 70px;
}

.supHeaderBox h4 {
  color: #4a71ff;
}

.firstDivTxtBox p {
  line-height: 4vh;
}

.subscriptionContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  padding: 50px;
  margin-top: 40px;
}

.firstCardBox,
.secondCardBox,
.thirdCardBox {
  display: flex;
  flex-direction: column;
  width: 27%;
  border: 1px solid #57575785;
  padding: 40px 20px;
  margin: 0 40px;
  border-radius: 20px;
  background-color: #57575785;
  color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.planTitle {
  font-weight: 600;
}

.price {
  font-size: 30px;
  color: rgb(134, 244, 134);
}

.planDescription {
  font-weight: 600;
}

.planLi {
  line-height: 3vh;
}

.secondDivContainer {
  display: flex;
  flex-direction: column;
  background-color: #0051bccc;
  /* background-color: rgb(162, 243, 198); */
  margin-top: 70px;
  justify-content: center;
}

.topBox {
  margin: 0 auto;
  color: white;
  padding-top: 20px;
  font-size: 40px;
}

.buyButton {
  margin-top: auto;
}

.buyButton button {
  border: none;
  background-color: #cbe0fbcc;
  font-size: 20px;
  width: 12vh;
  height: 5vh;
  margin-top: 40%;
  border-radius: 20px;
  cursor: pointer;
}

.buyButton button:hover {
  background-color: #00367dcc;
  color: white;
}

/* ########### Third Div ############ */

.thirdDivContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 50px;
  width: 100%;
}

.thirdDivTitle {
  font-size: 5vh;
  color: #00367dcc;
}

.firstplanBox,
.secondPlanbox,
.thirdPlanBox {
  border: 2px solid #00367dcc;
  border-radius: 20px;
  padding: 40px;
  width: 45%;
  margin-bottom: 20px;
  margin: 20px;
}

.thirdDivPlanTitle {
  color: #4aa8ff;
  font-size: 3vh;
}

.bold {
  font-weight: bold;
}

.thirdDivPrice {
  color: rgb(90, 198, 90);
}

.thirdDivLiBold {
  color: #4aa8ff;
  font-size: 2.6vh;
  font-weight: 500;
}

.thirdDivUl li {
  line-height: 4vh;
}

.thirdDivTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.thirdDivBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.howItWorksContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0051bccc;
}

.howItWorksTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.howItWorksTitle h3 {
  font-size: 60px;
  color: white;
}

.howItWorksContent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.qrCodeBox {
  width: 40%;
  text-align: center;
}

.qrCodeBox img {
  width: 50%;
}

.howItWorksTxtBox {
  width: 60%;
  color: white;
  padding: 20px;
}

.howItWorksUl {
  list-style: decimal;
  line-height: 4vh;
}

.howItWorksUl .bold {
  color: #edf4fc;
  font-size: 17px;
}
.howItWorksUl li a {
  color: #16385e;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
}

/* ########### Why Us ########### */

.whyUsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; /* Center aligning the content */
}
.whyUsTopContainer {
  display: flex;
  justify-content: center;
}

.whyUsTopContainer h3 {
  color: #00367dcc;
  font-size: 50px;
}

.whyUsBottomContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.whyUsLeftBox {
  width: 100%; /* Adjusted width */
  padding: 30px;
  display: flex;
  flex-direction: column; /* Ensuring cards stack vertically */
  align-items: center; /* Center aligning the content */
}

.whyUsRightBox {
  width: 100%; /* Adjusted width */
  text-align: center;
  margin: 20px 0; /* Adjusted margin */
}

.whyUsRightBox img {
  width: 50%;
}

.whyUsCard {
  width: 100%; /* Adjusted width */
  margin-bottom: 30px;
}

.whyUsCardTitle {
  color: #f1f1f1;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 20px;
  width: auto; /* Adjusted width */
  max-width: 100%; /* Ensuring responsiveness */
  text-align: center;
}

.whyUsCardTitle::after {
  background: #00367dcc;
  position: absolute;
  content: "";
  width: 100%; /* Adjusted width */
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: skew(-9deg);
  -moz-transform: skew(-9deg);
  -o-transform: skew(-9deg);
  z-index: -1;
}

.whyUsDes {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 20px;
  width: 100%; /* Adjusted width */
  max-width: 100%; /* Ensuring responsiveness */
  text-align: center;
}

.whyUsDes::after {
  background: #d4d4d4cc;
  position: absolute;
  content: "";
  width: 100%; /* Adjusted width */
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: skew(-9deg);
  -moz-transform: skew(-9deg);
  -o-transform: skew(-9deg);
  z-index: -1;
}

/* Responsive Layout */
@media (max-width: 901px) {
  .firstDivContainer,
  .fistDivLeftSide,
  .subscriptionContainer,
  .secondDivContainer,
  .thirdDivContainer,
  .fistDivRightSide,
  .howItWorksContainer,
  .howItWorksContent,
  .whyUsContainer,
  .thirdDivTop,
  .thirdDivBottom {
    flex-direction: column;
    align-items: center;
  }

  .fistDivLeftSide,
  .fistDivRightSide,
  .subscriptionContainer,
  .firstCardBox,
  .secondCardBox,
  .thirdCardBox,
  .firstplanBox,
  .secondPlanbox,
  .thirdPlanBox,
  .howItWorksContent,
  .howItWorksTxtBox,
  .whyUsBottomContainer,
  .whyUsLeftBox,
  .whyUsRightBox,
  .whyUsCard {
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
  }

  .fistDivLeftSide .firstDivTxtBox {
    padding: 20px;
  }

  .fistDivRightSide img,
  .qrCodeBox img,
  .whyUsRightBox img {
    width: 80%;
  }

  .whyUsTopContainer h3 {
    color: #00367dcc;
    font-size: 40px;
  }

  .whyUsBottomContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .whyUsLeftBox {
    width: 100%;
    padding: 20px;
  }

  .whyUsRightBox {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .whyUsRightBox img {
    width: 50%;
  }

  .whyUsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    padding: 20px;
  }
  .whyUsCardTitle {
    color: #f1f1f1;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 20px;
    width: 240px;
    text-align: center;
  }

  .whyUsCardTitle::after {
    background: #00367dcc;
    position: absolute;
    content: "";
    width: 230px;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: skew(-9deg);
    -moz-transform: skew(-9deg);
    -o-transform: skew(-9deg);
    z-index: -1;
  }

  .whyUsDes {
    /* color: #f1f1f1; */
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 20px;
    width: 90%;
    text-align: center;
  }

  .whyUsDes::after {
    background: #d4d4d4cc;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: skew(-9deg);
    -moz-transform: skew(-9deg);
    -o-transform: skew(-9deg);
    z-index: -1;
  }
}
